<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-customer_name" class="control-label col-xs-12 col-sm-2">{:__('Customer_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-customer_name" data-rule="required" class="form-control" name="row[customer_name]" type="text" value="{$row.customer_name}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-user_name" class="control-label col-xs-12 col-sm-2">{:__('User_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_name" data-rule="required" class="form-control" name="row[user_name]" type="text" value="{$row.user_name}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" data-rule="required" class="form-control" name="row[mobile]" type="number" value="{$row.mobile}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-address" class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-address" data-rule="required" class="form-control" name="row[address]" type="text" value="{$row.address}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label for="c-state" class="control-label col-xs-12 col-sm-2">{:__('State')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="stateList" item="vo"}
            <label for="row[state]-{$key}"><input id="row[state]-{$key}" name="row[state]" type="radio" value="{$key}" {in name="key" value="$row.state"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label for="c-buy_num" class="control-label col-xs-12 col-sm-2">{:__('Buy_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-buy_num" data-rule="required" class="form-control" name="row[buy_num]" type="number" value="{$row.buy_num}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-last_buy_time" class="control-label col-xs-12 col-sm-2">{:__('Last_buy_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-last_buy_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[last_buy_time]" type="text" value="{$row.last_buy_time|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-last_buy_money" class="control-label col-xs-12 col-sm-2">{:__('Last_buy_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-last_buy_money" data-rule="required" class="form-control" step="0.01" name="row[last_buy_money]" type="number" value="{$row.last_buy_money}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-total_money" class="control-label col-xs-12 col-sm-2">{:__('Total_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_money" data-rule="required" class="form-control" step="0.01" name="row[total_money]" type="number" value="{$row.total_money}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-total_integral" class="control-label col-xs-12 col-sm-2">{:__('Total_integral')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_integral" data-rule="required" class="form-control" name="row[total_integral]" type="number" value="{$row.total_integral}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-exchange_integral" class="control-label col-xs-12 col-sm-2">{:__('Exchange_integral')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-exchange_integral" data-rule="required" class="form-control" name="row[exchange_integral]" type="number" value="{$row.exchange_integral}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-surplus_integral" class="control-label col-xs-12 col-sm-2">{:__('Surplus_integral')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-surplus_integral" data-rule="required" class="form-control" name="row[surplus_integral]" type="number" value="{$row.surplus_integral}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-invoice_title" class="control-label col-xs-12 col-sm-2">{:__('Invoice_title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-invoice_title" data-rule="required" class="form-control" name="row[invoice_title]" type="text" value="{$row.invoice_title}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-tin" class="control-label col-xs-12 col-sm-2">{:__('Tin')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tin" data-rule="required" class="form-control" name="row[tin]" type="text" value="{$row.tin}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-company_address" class="control-label col-xs-12 col-sm-2">{:__('Company_address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-company_address" data-rule="required" class="form-control" name="row[company_address]" type="text" value="{$row.company_address}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-company_mobile" class="control-label col-xs-12 col-sm-2">{:__('Company_mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-company_mobile" data-rule="required" class="form-control" name="row[company_mobile]" type="text" value="{$row.company_mobile}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-bank_deposit" class="control-label col-xs-12 col-sm-2">{:__('Bank_deposit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bank_deposit" data-rule="required" class="form-control" name="row[bank_deposit]" type="text" value="{$row.bank_deposit}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-bank_number" class="control-label col-xs-12 col-sm-2">{:__('Bank_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bank_number" data-rule="required" class="form-control" name="row[bank_number]" type="number" value="{$row.bank_number}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-customer_type" class="control-label col-xs-12 col-sm-2">{:__('Customer_type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-customer_type" data-rule="required" class="form-control selectpicker" name="row[customer_type]">
                {foreach name="customerTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.customer_type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label for="c-remark" class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-remark" data-rule="required" class="form-control " rows="5" name="row[remark]" cols="50">{$row.remark}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
